{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'crud/stylesheet.css' %}">
<head>
    <meta charset="UTF-8">
    <title>disease type table</title>
</head>
<a href = '/'>
    <h1>HOME</h1>

</a>
<body>
<form method="POST" action="create_dType/">
    {% csrf_token %}
    <p>
        <label>Insert ID of disease type</label><br>
        <input type="number" name="diseasetype_id"/>
    </p>
    <p>
        <label>Insert description of disease type</label><br>
        <input type="text" name="description"/>
    </p>
    <input type="submit" value="Save">
</form>
{% for message in messages %}

    <div class="alert alert-success">
           {{ message }}
    </div>

{% endfor %}
<h2>
    <table>
        <thead><th>ID of disease type</th><th>description</th><th></th></thead>
        {% for dt in diseaseType %}
        <tr>
            <td>{{ dt.diseasetype_id }}</td>
            <td>{{ dt.description }}</td>
            <td><a href="update_dType/{{dt.diseasetype_id}}">Change</a> or <a href="delete_dType/{{dt.diseasetype_id}}">Delete</a> </td>
        </tr>
        {% endfor %}
    </table>
</h2>
</body>
</html>