{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'crud/stylesheet.css' %}">
<head>
    <meta charset="UTF-8">
    <title>record</title>
</head>
<a href = '/'>
    <h1>HOME</h1>

</a>
<body>
<form method="POST" action="create_record/">
    {% csrf_token %}
    <p>
        <label>Insert public servant for new record</label><br>
        <input type="text" name="email"/>
    </p>
    <p>
        <label>Insert country of record</label><br>
        <input type="text" name="cname"/>
    </p>
    <p>
        <label>Insert disease code</label><br>
        <input type="text" name="disease_code"/>
    </p>
    <p>
        <label>Total deaths from this disease in this country</label><br>
        <input type="number" name="total_deaths"/>
    </p>

    <p>
        <label>Total patients from this disease in this country</label><br>
        <input type="number" name="total_patients"/>
    </p>
    <input type="submit" value="Save">
</form>
{% for message in messages %}

   <div class="alert alert-success">
          {{ message }}
   </div>

{% endfor %}
<h2>
    <table>
        <thead><th>email</th><th>country</th><th>disease code</th><th>total deaths</th><th>total patients</th><th></th></thead>
        {% for rec in record %}
        <tr>
            <td>{{ rec.email }}</td>
            <td>{{ rec.cname }}</td>
            <td>{{ rec.disease_code }}</td>
            <td>{{ rec.total_deaths }}</td>
            <td>{{ rec.total_patients }}</td>
            <td><a href="update_record/{{rec.id}}">Change</a> or <a href="delete_record/{{rec.id}}">Delete</a> </td>
        </tr>
        {% endfor %}
    </table>
</h2>
</body>
</html>